@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");
:root {
    --primary-font: Arial, Helvetica, sans-serif;
    --secondary-font: Mooli, san-serif;
}


body {
    font-size: 1.2em;
    font-family: var(--primary-font);
    text-align: center;
}

header, footer {
    color:white;
    background-color: blueviolet;
    margin: 1rem auto;
    padding: 1rem;
}

main {
    background-color: gainsboro;
    margin: 1rem auto;
    padding: 1rem;
}

h1, h2 {
    font-family: var(--secondary-font);
}

.links-container {
    a:link {
        color:white;
    }
    display: flex;
    flex-direction: column;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

img {
    max-width: 100%;
    width: 250px;
    height: 250px;
    object-fit: cover;
    border: .5em solid white;
    box-shadow: 5px 5px darkslategray;
}

button {
    color: white;
    background-color: blueviolet;
    border: none;
    font-size: 1.2em;
}

@media screen and (min-width:700px) {
    .gallery {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width:1000px) {
    .gallery {
        grid-template-columns: 1fr 1fr 1fr;
    }
    button {
        visibility: hidden;
    }
    .links-container {
        flex-direction: row;
        justify-content: center;
        gap: 20px;
    }
    
}