h1 {
    font-size:40px;
    margin: 18px;

}

h2 {
    color: #006EB6;
    font-size: 18px;
    margin: 0;
}

.head {
    text-align: center;
    letter-spacing: .2em;
    text-transform: uppercase;
}

.dark {
    background-color: #333;
    color: white;
    h2 {
        color: #A0D4ED;
    }
}

.content {
    border: 1px solid lightgray;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 50px;
    padding-bottom: 50px;
    max-width: 600px;
    margin: 0 auto;
    line-height: 1.5;
    font-size: 20px;
    font-family: 'Times New Roman';
}

p:first-of-type {
    padding-top: 30px;
}

.list li {
    padding-bottom: 20px;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    width: 150px;
}