@import url("https://fonts.googleapis.com/css?family=Lato|Noticia+Text|Koulen");

:root {
  /* change the values below to your colors from your palette */
  --primary-color: #0CA2C0;
  --secondary-color: #34345B;
  --accent1-color: #F68E95;
  --accent2-color: #D83B46;

  /* change the values below to your chosen font(s) */
  --heading-font: "Noticia Text", serif;
  --second-heading: "Koulen", sans-serif;
  --paragraph-font: Lato, Helvetica, sans-serif;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: var(
    --secondary-color
  ); /* headlines on a white background */
  --headline-color-on-color: white; /* headlines on a colored background */
  --paragraph-color-on-white: var(
    --secondary-color
  ); /* paragraph text on a white background */
  --paragraph-color-on-color: white; /* paragraph text on a colored background */
  --paragraph-background-color: var(--primary-color);
  --nav-link-color: var(--secondary-color);
  --nav-background-color: var(--accent1-color);
  --nav-hover-link-color: white;
  --nav-hover-background-color: var(--accent2-color);
}

body {
    color: var(--secondary-color);
}

.main-container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto; /* Centers horizontally */
  font-family: var(--text-font);
  font-size: 20px;
}

.title-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

h1 {
    font-family: var(--second-heading);
    font-size: 75px;
}

h2 {
    font-family: var(--heading-font);
    font-size: 55px;
}

h3 {
  font-family: var(--heading-font);
}

.nav-bar {
  display: flex;
  justify-content: space-between; /* Spreads out items */
  align-items: center; /* Aligns items vertically */
  width: 100%; /* Extends the navbar across the screen */
  background-color: var(--nav-background-color);
  line-height: 3em;
  text-align: center;
  font-size: 1.2em;
}

nav {
  display: flex; /* Makes nav items align in a row */
  align-items: center; /* Aligns links and search bar properly */
  width: 100%; /* Ensures nav takes up the full width */
}

nav a {
  padding: 1em;
  min-width: 120px;
  text-decoration: none;
  padding: 10px;
}
nav a:link,
nav a:visited {
  color: var(--nav-link-color);
}
nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}

.search-bar {
  display: flex;
  align-items: center;
  margin-left: auto; /* Pushes search bar to the right */
}

.search-bar input {
  padding: 5px;
  font-size: 1em;
  max-width: 250px;
}

.search-bar img {
    max-height: 30px;
    padding: 5px;
    max-width: 100%;
}

.tictactoe-container, .hangman-container {
  display: flex;
  flex-direction: column;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-image {
  border: 5px solid var(--secondary-color);
  border-radius: 5px;
}

#more-games {
  font-family: var(--second-heading);
}

.question-categories {
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
}

#category {
  height: 150px;
  width: 150px;
  margin: 25px;
}